Airport_data
Binary/
Elevation_data/
Geotiffs/
Masks/
Orthophotos/
OSM_data/
yOrtho4XP_Overlays
Previews/
tmp/
Tiles/
**/__pycache__
**/*.pyc
**/Thumbs.db
**/*.bak
**/*.log
**/*.orig
.last_gui_params.txt

# IDE
.idea/
venv/

